.header{
    color: $header-light-gray-color;

    &__container{
        @extend %container;
    }

    &__languages{
        border: 1px solid $white-color;
    }
}

@media all and (min-width:1536px){
    .header{
        &__container{
            max-width: 1492px;
        }
    }
}

@media all and (min-width:320px) and (max-width:575px){
    .header{
        &__container{
            flex-direction: column-reverse;
        }

        &__right{
            margin-bottom: 10px;
        }
    }
}